

/* Desconto */
/* ------------------------------------------------------ */
.faturamento .desconto_linha {
    margin-top: 20px;
}

.faturamento .desconto_linha input {
    height: 30px;
    /* text-align: right; */
}

.faturamento .desconto_nome {
    padding-top: 4px;
    padding-right: 18px;
    justify-content: flex-end
}




/* Total */
/* ------------------------------------------------------ */
.faturamento .total_linha {
    margin-top: 20px;

}


.faturamento .total_nome {
    /* padding-top: 4px; */
    padding-right: 18px;
    justify-content: flex-end
}




