

/* .movimentar-rouparia .table-input .produto-nome {
    width: 80% ;
}

.movimentar-rouparia .table-input .produto-quantidade {
    width: 20%;
}


.movimentar-rouparia .table-input .produto-acoes {

    width: 5%;
} */





