<!-- <meta charset="UTF-8"> -->
<!-- <link rel="stylesheet" href="../../view/itens/itens.css"> -->
<!-- <div class="main__container"> -->


 

    <!-- <div class="c-itens-view"> -->
    <div class="c-view">


        <div class="c-view__title">
            <h1>Pacientes</h1>
        </div>



        <div class="c-view__acoes">
            <div class="c-view__acoes-botoes">

                <button class="btn-adicionar c-view__acoes-botoes-adicionar" id="acoes__button-adicionar">Adicionar
                    Paciente</button>
            </div>

            <div class="c-view__acoes-pesquisa">
                <!-- <span>Busca</span> -->
                <input class="input-default acoes__buscar" id="acoes__buscar" placeholder="Pesquisar">
            </div>

        </div>






        <div class="c-view__tabela">

            <table class="tabela-default tabela-produtos" id="tabela-central">
                <thead>
                    <tr>
                        <th class="w-7"data-name="id" data-class=" ">ID</th>          
                        <th class="align-left w-38" data-name="nome" data-class="align-left" data-edit="true">Nome</th>
                        <th class="align-left w-20" data-name="custo" data-class="align-left" data-format="coin-real">Custo</th>
                        <th class="align-right w-15" data-name="estoque_total" data-class="align-right" >Estoque</th>
                        <th class="w-20"data-name="" data-format="action">Ações</th>                   
                    </tr>
                </thead>
                <tbody id="tbody-central">

                </tbody>
            </table>
        </div>



    </div>

</div>