<form class="form c-atend" id="form-modal">
    <!-- <form class="form c-atend" id="form-adicionar-modal"> -->


    <!-- FORM MAIN / Conteúdo -->
    <!-- ============================================================================================================ -->
    <div class="form__main">


        <!-- PODE SER REMOVIDO -->
        <button type="reset" class="btn-fechar-modal" id="btn-fechar-modal" data-class='fechar-modal'>X</button>


        <!-- ID invisível para usado quando for editar -->
        <div class="col-md-6 esconder">
            <div class="grupo-label-input">
                <label for="atendimento_id" class="label-adicionar-id">Id</label>
                <input type="text" name="id" id="atendimento_id" autocomplete="off" data-type="text">
            </div>
        </div>


        <!-- Id do Paciente -->
        <input class="esconder" type="text" name="pacientes_id" id="pacientes_id">



        <!-- CAMPOS -->
        <!-- ====================================================================================================== -->
        <!-- ====================================================================================================== -->

        <!-- //remover -->
        <div class="">



            <!-- Linha 01 -->
            <!--------------------------------------------------------------------------------------------------->
            <div class="c-atend_line1">


                <!-- Dados do paciente -->
                <!----------------------------------------------------------------------------->
                <div class="c-atend__paciente ">



                    <!-- Paciente Input -->
                    <div class="c-atend__paciente-nome">
                        <div class="grupo-label-input">
                            <label for="nome">Paciente</label>

                            <!-- Div para para determinar onde sera listado os itens do auto complete -->
                            <div class="autoComplete_wrapper">
                                <input type="text" name="nome" id="nome" placeholder="Nome" autocomplete="off"
                                    data-extract="false" data-paciente_id="" required>
                            </div>

                            <span class="mensagem-validacao"></span>
                        </div>
                    </div>


                    <!-- Paciente Dados -->
                    <div class="c-atend__paciente-dados ">

                        <div class="c-atend__paciente-dados_line1 col-md-12">

                            <!-- Idade -->
                            <div class="c-atend__paciente-dados-idade col-md-6">
                                <div class="paciente-dados_propriedade">
                                    Idade:
                                </div>
                                <div class="paciente-dados_valor" id="paciente-idade">

                                </div>
                            </div>

                            <!-- Atendimentos -->
                            <div class="c-atend__paciente-dados-atendimentos col-md-6">
                                <div class="paciente-dados_propriedade">
                                    Atendimentos:
                                </div>
                                <div class="paciente-dados_valor" id="paciente-atendimentos">

                                </div>
                            </div>
                        </div>


                        <div class="c-atend__paciente-dados_line2 col-md-12">

                            <!-- Primeira Consulta -->
                            <div class="c-atend__paciente-dados-primeira col-md-6">
                                <div class="paciente-dados_propriedade">
                                    Primeira Consulta:
                                </div>
                                <div class="paciente-dados_valor" id="paciente-primeira_consulta">

                                </div>
                            </div>

                            <!-- Sexo -->
                            <div class="c-atend__paciente-dados-sexo col-md-6">
                                <div class="paciente-dados_propriedade">
                                    Sexo:
                                </div>
                                <div class="paciente-dados_valor" id="paciente-sexo">

                                </div>
                            </div>
                        </div>



                    </div>

                </div>


                <!-- Botões a direita -->
                <!------------------------------------------------------------------------------>
                <div class="c-atend__buttons">

                    <!-- <button class="btn-adicionar" id="btn-XX">Abrir Atendimento</button> -->
                    <button class="btn-blue" id="btn-atendimento">Abrir Atendimento</button>
                    <!-- <button class="btn-blue" id="btn-XX">Concluir Atendimento</button> -->
                    <button class="btn-blue" id="btn-imp-atendimento">Imprimir Atendimento</button>
                    <!-- <button class="btn-adicionar" id="btn-XX">Abrir Atendimento</button> -->
                    <!-- <button class="btn-print" id="btn-XX">Imprimir </button> -->

                </div>


            </div>




            <!-- TABS -->
            <!--------------------------------------------------------------------------------------------------->
            <div class="c-atend_tab">
                <div class="tab">
                    <input type="radio" name="tabgroup" id="tab1" data-extract="false" checked>
                    <input type="radio" name="tabgroup" id="tab2" data-extract="false">
                    <input type="radio" name="tabgroup" id="tab3" data-extract="false">
                    <input type="radio" name="tabgroup" id="tab4" data-extract="false">

                    <!-- <input type="radio" name="tabgroup" id="tab3" aria-controls="dunkles"> -->

                    <div class="tab-menu">
                        <label for="tab1">Procedimentos</label>
                        <label for="tab2">Anamnese</label>
                        <label for="tab3">Atestado</label>
                        <label for="tab4">Receituário</label>

                    </div>


                    <div class="tab-panels">



                        <!-- //section Procedimentos ================================================= -->
                        <section class="tab-panel" id="tab-produtos">


                            <!-- TABLE INPUT -->
                            <!-- //==================================================================================================================== -->

                            <div class="table-input">

                                <div class="table-input_titulo">
                                    <span class="table-input_titulo-texto">Itens</span>
                                </div>

                                <div class="table-input_adicionar">
                                    <button class="btn-adicionar" id="btn-adicionar_procedimento" type="button">+
                                        Adicionar
                                        Procedimento</button>
                                    <button class="btn-adicionar" id="btn-limpar_lista" type="button">Limpar
                                        Lista</button>
                                </div>


                                <table class="table-input_tabela">

                                    <thead class="">
                                        <tr>
                                            <th data-name="produtos_id" data-type="esconder" class="esconder"></th>
                                            <th data-name="nome" data-type="autocomplete" data-ignore="true"
                                                data-class="w-50">Nome</th>
                                            <th data-name="estoque_atual" data-format="coin" data-attr="disabled"
                                                data-class="w-20" data-ignore="true">Qtd Atual.</th>
                                            <th data-name="quantidade" data-format="coin" data-class="w-20">Qtd.</th>
                                            <th data-name="" data-type="action" data-class="w-5"></th>
                                            <!-- <th class="produto-custo">Custo</th>
                    <th class="produto-total">Total</th> -->
                                        </tr>
                                    </thead>


                                    <tbody class="table-input_tbody" id="table-input_tbody">
                                        <!-- Linhas geradas aqui -->
                                    </tbody>


                                </table>




                            </div>








                        </section>

                        <!-- //section Anamnese ================================================= -->
                        <section class="tab-panel" id="tab-anamnese">

                            <div class="grupo-label-input">
                                <label for="anamnese">Observações</label>
                                <textarea id="anamnese" name="anamnese" cols="30" rows="3"></textarea>
                            </div>

                        </section>

                        <!-- //section Atestado ================================================= -->
                        <section class="tab-panel" id="tab-atestado">

                            <div class="grupo-label-input">
                                <!-- <label for="observacao">Observações</label> -->
                                <textarea id="atestado" name="atestado" cols="30" rows="3"></textarea>
                                <span class="mensagem-validacao"></span>
                            </div>
                        </section>

                        <!-- //section Receituário ================================================= -->
                        <section class="tab-panel" id="tab-receituario">
                            <div class="grupo-label-input">
                                <!-- <label for="observacao">Observações</label> -->
                                <textarea id="receituario" name="receituario" cols="30" rows="3"></textarea>
                                <span class="mensagem-validacao"></span>
                            </div>

                        </section>




                    </div><!-- tab panels-->

                </div><!-- tab -->
            </div>


        </div>


    </div>



    <!-- FORM FOOTER -->
    <!-- ================================================================================================= -->
    <div class="form__footer">

        <button type="reset" class="btn-cancelar" id="btn-cancelar-modal" data-class='fechar-modal'>Cancelar</button>
        <button type="submit" class="btn-salvar" id="btn-salvar-modal">Salvar</button>
    </div>


</form>