<form class="form" id="form-modal">

    <div class="form__main">


        <button type="reset" class="btn-fechar-modal" id="btn-fechar-modal" data-class='fechar-modal'>X</button>

        <!-- ID invisível para o editar -->
        <div class="col-md-6 esconder">
            <div class="grupo-label-input">
                <label for="adicionar-id" class="label-adicionar-id">Id</label>
                <input type="text" name="id" id="adicionar-id" autocomplete="off" data-type="text">
            </div>
        </div>


        <!-- CAMPOS -->
        <!-- ============================================================================================================ -->
        <!-- ============================================================================================================ -->


        <!-- Linha 01 -->
        <!--------------------------------------------------------------------------------------------------->

        <div class="c-atend">


            <div class="c-atend_line1">

                <div class="c-atend__paciente ">

                    <div class="c-atend__paciente-nome">
                        <div class="grupo-label-input">
                            <label for="nome">Paciente</label>

                            <input type="text" name="nome" id="nome" placeholder="Nome" autocomplete="off" required>
                            <span class="mensagem-validacao"></span>
                        </div>
                    </div>


                    <div class="c-atend__paciente-dados ">


                        <div class="c-atend__paciente-dados-line1 col-md-12">
                            <div class="c-atend__paciente-dados-idade col-md-6">
                                Idade: 45 Anos
                            </div>
                            <div class="c-atend__paciente-dados-atendimentos col-md-6">
                                Atendimentos: 02
                            </div>

                        </div>

                        <div class="col-md-12">
                            <div class="c-atend__paciente-dados-primenira col-md-6">
                                Primeira Consulta: 18/01/2021
                            </div>
                            <div class="c-atend__paciente-dados-sexo col-md-6">
                                Sexo: M
                            </div>
                        </div>

                    </div>

                </div>



                <div class="c-atend__buttons">

                    <!-- <button class="btn-adicionar" id="btn-XX">Abrir Atendimento</button> -->
                    <button class="btn-blue" id="btn-XX">Abrir Atendimento</button>
                    <button class="btn-blue" id="btn-XX">Fechar Atendimento</button>
                    <button class="btn-blue" id="btn-XX">Imprimir </button>
                    <!-- <button class="btn-adicionar" id="btn-XX">Abrir Atendimento</button> -->
                    <!-- <button class="btn-print" id="btn-XX">Imprimir </button> -->

                </div>


            </div>



            <!-- //tabs ========================================================================================= -->

            <div class="c-atend_tab">

                <div class="tab">
                    <input type="radio" name="tabgroup" id="tab1" >
                    <input type="radio" name="tabgroup" id="tab2" checked>
                    <input type="radio" name="tabgroup" id="tab3">
                    <input type="radio" name="tabgroup" id="tab4">

                    <!-- <input type="radio" name="tabgroup" id="tab3" aria-controls="dunkles"> -->
            
                    <div class="tab-menu">
                        <label for="tab1">Procedimentos</label>
                        <label for="tab2">Anamnese</label>
                        <label for="tab3">Atestado</label>
                        <label for="tab4">Receituário</label>                        

                    </div>
            
            
                    <div class="tab-panels">
            
            
            
                        <!-- //section Procedimentos ================================================= -->
                        <section class="tab-panel" id="tab-produtos">
            









            
                        </section>
            
                        <!-- //section Anamnese ================================================= -->
                        <section class="tab-panel" id="tab-anamnese">
                              
                            <div class="grupo-label-input">
                                <label for="anamnese">Observações</label>
                                <textarea id="anamnese" name="anamnese" cols="30" rows="3"></textarea>                               
                            </div>
            
                        </section>

                        <!-- //section Atestado ================================================= -->
                        <section class="tab-panel" id="tab-atestado">
                              
                            <div class="grupo-label-input">
                                <!-- <label for="observacao">Observações</label> -->
                                <textarea id="atestado" name="atestado" cols="30" rows="3"></textarea>
                                <span class="mensagem-validacao"></span>
                            </div>
                        </section>

                        <!-- //section Receituário ================================================= -->
                        <section class="tab-panel" id="tab-receituario">
                            <div class="grupo-label-input">
                                <!-- <label for="observacao">Observações</label> -->
                                <textarea id="receituario" name="receituario" cols="30" rows="3"></textarea>
                                <span class="mensagem-validacao"></span>
                            </div>
            
                        </section>
            
            
            
            
                    </div><!-- tab panels-->
            
                </div><!-- tab -->
            </div>



        </div>

     



    </div>


    <!-- ================================================================================================= -->
    <div class="form__footer">

        <button type="reset" class="btn-cancelar" id="btn-cancelar-modal" data-class='fechar-modal'>Cancelar</button>
        <button type="submit" class="btn-salvar" id="btn-salvar-modal">Salvar</button>
    </div>


</form>