/* Line 01 */
/* ========================================================================================== */
/* ========================================================================================== */
.c-atend_line1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* width: 100%; */
    /* align-content: ; */
    height: 150px;
}



/* Paciente */
/* ================================================================= */

/* Input Paciente */
/* ------------------------------------------------------------ */
.c-atend__paciente {
    width: 60%;
    /* flex: 1; */

}


/* Dados Paciente */
/* ------------------------------------------------------------ */
.c-atend__paciente-dados {
    margin-left: 14px;
    font-size: 13px;
    /* display: flex; */
}

.c-atend__paciente-dados-line1 {
    margin-bottom: 6px;
}





/* Botoes a Direita */
/* ================================================================= */
.c-atend__buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    width: 25%;

    /* margin-right: 30px; */
    padding: 10px 15px;
}

.c-atend__buttons .btn-atendimento {
    height: 42px;

}









/* Tabs */
/* ========================================================================================== */
/* ========================================================================================== */

.c-atend_tab {
    margin-left: 14px;
    margin-right: 10px;
}


/* Tab Títulos */
.c-atend .tab-menu label {
    padding: 5px 35px 5px 25px;
}


/* Tab area de conteudo */
.c-atend .tab .tab-panel {
    padding: 10px 0px 0px 0px;
}





/* Procedimentos */
/* ================================================================= */






/* Anamnese / Atestado / Receituário */
/* ================================================================= */

/* Testarea */
/* ------------------------------------------------------------ */
.c-atend textarea {
    height: 120px;
}






/* Form Footer */
/* ========================================================================================== */
/* ========================================================================================== */
.c-atend .form__footer {

    padding-top: 20px;
}















/* IMPRIMIR ATENDIMENTOS*/
/* ========================================================================================== */
/* ========================================================================================== */

/*CSS para impressão*/
@media print {

/* 
    .header,
    .sidebar,
    button,
    .c-view__acoes {
        display: none !important;


    }

    .container {
        display: grid;
        grid-template-columns: 0px 1fr;
        grid-template-rows: 0px 1fr;
        grid-template-areas:
            "header header"
            "sidebar main";
    }

    .main {
        padding: 0px;

    }

    .c-view,
    .form__main {
        box-shadow: 0 0 0 0 !important;
        padding: 0px;
    }

    .c-view__title {
        margin-bottom: 35px;
    }

    input {
        border: none !important;
    }


    /* Abre a tabela por inteiro */
    /* .c-view__tabela {
        height: 100%;
    }

    table {
        border-left: none;
    } */
    
} 