


/* TAMANHOS PRE DEFINIDOS */
/* =============================================================================================================== */
/* =============================================================================================================== */

/* GRIDS */
/* ===================================================================================== */
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12 {

    /* position: relative; */
    /* padding-left: 15px;
    padding-right: 15px; */
    /* float: left; */

    display: flex;
    flex-wrap: wrap;
    /* padding: 0 1rem;

    /* min-width: 150px; */

}

.col-md-12 {
    width: 100%;

}

.col-md-11 {
    width: 91.66666666%;
}

.col-md-10 {
    width: 83.33333333%;
}

.col-md-9 {
    width: 75%;
}

.col-md-8 {
    width: 66.66666667%;
}

.col-md-7 {
    width: 58.33333333%;
}

.col-md-6 {
    width: 50%;
}

.col-md-5 {
    width: 41.66666666%;
}

.col-md-4 {
    width: 33.33%;
}

.col-md-3 {
    width: 25%;
}

.col-md-2 {
    width: 16.666666667%;
}

.col-md-1 {
    width: 8.333333333%;
}


/* //================================================================================== */
/* ==================================================================================== */
@media screen and (max-width: 650px) {





    .col-md-6 {
        width: 100%;
    }

    .col-md-5 {
        width: 50%;
    }

    .col-md-4 {
        width: 50%;
    }

    .col-md-3 {
        width: 50%;
    }





    /* .col-md-1,
    .col-md-2,
    .col-md-3,
    .col-md-4,
    .col-md-5,
    .col-md-6,
    .col-md-7,
    .col-md-8,
    .col-md-9,
    .col-md-10,
    .col-md-11,
    .col-md-12 {
        display: block;
        /* width: 100%; */
    /* } */ 
}

/* //=========================================================================== */
















/* LINE  - Tamanho da linha em %*/
/* ===================================================================================== */
/* ==================================================================================== */
.row-1,
.row-2,
.row-3,
.row-4,
.row-5,
.row-6,
.row-7,
.row-8,
.row-9,
.row-10,
.row-11,
.row-12 {
display: flex;
flex-wrap: wrap;

}

.row-12 {
    width: 100%;

}

.row-11 {
    width: 91.66666666%;
}

.row-10 {
    width: 83.33333333%;
}

.row-9 {
    width: 75%;
}

.row-8 {
    width: 66.66666667%;
}

.row-7 {
    width: 58.33333333%;
}

.row-6 {
    width: 50%;
}

.row-5 {
    width: 41.66666666%;
}

.row-4 {
    width: 33.33%;
}

.row-3 {
    width: 25%;
}

.row-2 {
    width: 16.666666667%;
}

.row-1 {
    width: 8.333333333%;
}





/* Linhas ajuste fino */
/* //================================================================================== */
/* ==================================================================================== */

.w-1{
    width: 1%;
}
.w-2{
    width: 2%;
}
.w-3{
    width: 3%;
}
.w-4{
    width: 4%;
}
.w-5{
    width: 5%;
}
.w-6{
    width: 6%;
}
.w-7{
    width: 7%;
}
.w-8{
    width: 8%;
}
.w-9{
    width: 9%;
}
.w-10{
    width: 10%;
}
.w-11{
    width: 11%;
}
.w-12{
    width: 12%;
}
.w-13{
    width: 13%;
}
.w-14{
    width: 14%;
}
.w-15{
    width: 15%;
}
.w-16{
    width: 16%;
}
.w-17{
    width: 17%;
}
.w-18{
    width: 18%;
}
.w-19{
    width: 19%;
}
.w-20{
    width: 20%;
}
.w-21{
    width: 21%;
}
.w-22{
    width: 22%;
}
.w-23{
    width: 23%;
}
.w-24{
    width: 24%;
}
.w-25{
    width: 25%;
}
.w-26{
    width: 26%;
}
.w-27{
    width: 27%;
}
.w-28{
    width: 28%;
}
.w-29{
    width: 29%;
}
.w-30{
    width: 30%;
}
.w-31{
    width: 31%;
}
.w-32{
    width: 32%;
}
.w-33{
    width: 33%;
}
.w-34{
    width: 34%;
}
.w-35{
    width: 35%;
}
.w-36{
    width: 36%;
}
.w-37{
    width: 37%;
}
.w-38{
    width: 38%;
}
.w-39{
    width: 39%;
}
.w-40{
    width: 40%;
}
.w-41{
    width: 41%;
}
.w-42{
    width: 42%;
}
.w-43{
    width: 43%;
}
.w-44{
    width: 44%;
}
.w-45{
    width: 45%;
}
.w-46{
    width: 46%;
}
.w-47{
    width: 47%;
}
.w-48{
    width: 48%;
}
.w-49{
    width: 49%;
}
.w-50{
    width: 50%;
}




.w-55{
    width: 55%;
}
.w-60{
    width: 60%;
}
.w-65{
    width: 65%;
}
.w-70{
    width: 70%;
}
.w-75{
    width: 75%;
}
.w-80{
    width: 80%;
}
.w-85{
    width: 85%;
}
.w-90{
    width: 90%;
}
.w-95{
    width: 95%;
}
.w-100{
    width: 100%;
}





















/* Altura Ajuste Fino */
/* //================================================================================== */
/* ==================================================================================== */

.h-100{
    width: 100%;
}



