<div class="view-clean dashboard">



    <div class="view-clean__title">
        <h1>Dashboard</h1>
    </div>


    <div class="c-cards">

        <div class="c-card">
            <div class="card">

                <div id="ultimo-cafe" class="card-valor">
                    R$ 0,00
                </div>

                <div class="card-texto">

                    Ultimo Atendimento

                </div>
            </div>
        </div>
        <div class="c-card">
            <div class="card">

                <div id="almoxerifado" class="card-valor">
                    R$ 0,00
                </div>

                <div class="card-texto">

                    Faturamento Mensal

                </div>
            </div>
        </div>
        <div class="c-card">
            <div class="card">

                <div id="producao" class="card-valor">
                    R$ 0,00
                </div>

                <div class="card-texto">

                    <span>Total em Medicamentos</span>
                  

                </div>
            </div>
        </div>


    </div>







    
    <div class="row-12">


        <div class="area estoque">
            <!-- <div class="area__header">
                <div class="area__header-title">Estoque</div>
            </div> -->
            <div class="area__body">


                <div clas="" id="chart"></div>


            </div>
        </div>




    </div>
</div>