<!-- <div class="c-itens-view"> -->
<div class="c-view">


    <div class="c-view__title">
        <h1>Usuários</h1>
    </div>



    <div class="c-view__acoes">
        <div class="c-view__acoes-botoes">

            <button class="btn-adicionar c-view__acoes-botoes-adicionar" id="acoes__button-adicionar">Adicionar
                Usuário</button>
        </div>

        <div class="c-view__acoes-pesquisa">
            <!-- <span>Busca</span> -->
            <input class="input-default acoes__buscar" id="acoes__buscar" placeholder="Pesquisar">
        </div>

    </div>






    <div class="c-view__tabela">

        <table class="tabela-default" id="tabela-central">
            <thead>
                <tr>
                    <th data-name="id">ID</th>
                    <th data-name="usuario" data-edit="true">Usuário</th>
                    <th data-name="" data-format="action">Ações</th>
                </tr>
            </thead>
            <tbody id="tbody-central">

            </tbody>
        </table>
    </div>




</div>