<!-- <meta charset="UTF-8"> -->
<!-- <link rel="stylesheet" href="../../view/itens/itens.css"> -->
<!-- <div class="main__container"> -->




<!-- <div class="c-itens-view"> -->
<div class="c-view">


    <div class="c-view__title">
        <h1>Atendimentos</h1>
    </div>



    <div class="c-view__acoes">
        <div class="c-view__acoes-botoes">

            <button class="btn-adicionar c-view__acoes-botoes-adicionar" id="acoes__button-adicionar">Novo
                Atendimento</button>
        </div>

        <div class="c-view__acoes-pesquisa">
            <!-- <span>Busca</span> -->
            <input class="input-default acoes__buscar" id="acoes__buscar" placeholder="Pesquisar">
        </div>

    </div>






    <div class="c-view__tabela">

        <table class="tabela-default tabela-produtos" id="tabela-central">
            <thead>
                <tr>
                    <th data-name="id" data-class="w-10">ID</th>
                    <th data-name="nome" data-class="w-22" data-edit="true">Nome</th>
                    <th data-name="data_nascimento" data-class="w-22" data-format="date">Data Nascimento</th>
                    <th data-name="sexo" data-class="w-15">Sexo</th>

                    <!-- <th data-name="custo" data-class="w-15 align-left" data-format="coin-real" class="align-left">
                            Custo Total</th> -->

                    <th data-format="action">Ações</th>

                </tr>
            </thead>
            <tbody id="tbody-central">

            </tbody>
        </table>
    </div>


</div>

</div>