<!-- <div class="c-itens-view"> -->
<div class="c-view">


    <div class="c-view__title">
        <h1>Itens</h1>
    </div>



    <div class="c-view__acoes">
        <div class="c-view__acoes-botoes">

            <button class="btn-adicionar c-view__acoes-botoes-adicionar" id="acoes__button-adicionar">Adicionar
                Item</button>
        </div>

        <div class="c-view__acoes-pesquisa">
            <!-- <span>Busca</span> -->
            <input class="input-default acoes__buscar" id="acoes__buscar" placeholder="Pesquisar">
        </div>

    </div>







    <div class="c-view__tabela">

        <table class="tabela-default" id="tabela-central">
            <thead>
                <tr>
                    <th data-name="id">ID</th>
                    <th class="align-left" data-name="nome" data-class="align-left" data-format="" data-edit="true">Nome</th>
                    <th class="align-left" data-name="custo"  data-class="align-left" data-format="coin-real">Custo do Item</th>
                    <!-- <th data-name="quantidade">Quantidade</th> -->
                    <!-- <th data-name="total" data-format="coin-real">Valor Total</th> -->
                    <th data-name="" data-format="action">Ações</th>
                </tr>
            </thead>
            <tbody id="tbody-central">
                <!-- <tr>
                        <td id="teste">24</td>
                        <td>Bolo de Fubá</td>
                        <td>R$25,00</td>
                        <td>08</td>
                        <td>R$189,00</td>
                    </tr> -->



            </tbody>
        </table>
    </div>



</div>








<!-- Inicio MODAL ADICIONAR ITEM -->
<!-- /////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->


<!-- 
    <div class="modal-container" id="modal-adicionar-item">
        <div class="modal-window-default" id="modal-window-adicionar-item">



        </div>
    </div>modal-container -->

<!-- Fim MODAL ADICIONAR ITEM -->
<!-- /////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->